jax==0.5.3
jax-cuda12-pjrt==0.5.3
jax-cuda12-plugin==0.5.3
jaxlib==0.5.3
jaxonloader==0.9.1
jaxtyping==0.3.1
jaxwt==0.1.1
flax==0.10.6
optax==0.2.4
optuna==4.2.1
einops==0.8.1
equinox==0.12.1
chex==0.1.89
orbax-checkpoint==0.11.13
matplotlib==3.10.1
matplotlib-inline==0.1.7
numpy==2.2.4
scipy==1.15.2
tqdm==4.67.1
astropy==7.1.0
astropy-iers-data==0.2025.7.7.0.39.39
vtk==9.4.2
imageio==2.37.0